/*
.navbar-default {
  width: 90%;
  margin: auto;
  @include add-border( 1px, #e7e7e7, 'right-left' );
  background: #fff;
  margin-bottom: 10px;
  //min-height: 60px;

  a {
    color: $primary-color !important;
    font-size: 20px;
    letter-spacing: -0.5px;
    padding-bottom: 24px;
    padding-top: 20px;

    &:hover {
      background-color: $primary-color !important;
      color: #fff !important;
    }
  }
}
*/
 
div.navbar-header {
  z-index: 100;
}

.navbar-nav li.current-menu-ancestor {
  background-color: $navbar-default-link-active-bg;
  color: $navbar-default-link-active-color;
}

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

div.toggle_sidebar {
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 767px) {
    z-index: 100;
    display: inline-block;
  }
  color: $navbar-default-toggle-icon-bar-bg;
  position:absolute;
  width:40px;
  height:40px;
  top:0;
  right:0;
  margin-top:4px;
  margin-right:5px;
  border: 1px solid $navbar-default-toggle-icon-bar-bg;
  border-radius: 4px;
  text-align:center;
  //vertical-align:middle;
  padding-top:5px;
  a.glyphicon {
    font-size:25px;
    color: $navbar-default-toggle-icon-bar-bg;
  }
}

a.glyphicon-menu-left {
  display:inline-block;
  div.sidebar-active & {
    display:none;
  }
}

a.glyphicon-remove {
  display:none;
  div.sidebar-active & {
    display:inline-block;
  }
}
