article header {
  margin-bottom: 0px;
}

img.size-full, img.size-large, .wp-post-image, .post-thumbnail img {
  max-width: 100%;
  height: auto;
}

.entry-meta {
  text-align:right;
}

article {
  .entry-title {
    margin-top: 10px;
  }
  .well {
    padding: 5px;
    background-color: #fff;
  }
  .entry-summary {
    p {
      margin-top: 5px;
      margin-bottom: 0px;
    }
  }
}
